doctype
html
  head
    meta(charset="utf-8")
    title CSS Viewer
    link(href="/bootstrap.min.css", rel="stylesheet")
    link(href="/codemirror.css", rel="stylesheet")
    style(type="text/css") .CodeMirror { border: 1px solid #eee; height: auto; }
  body
    input#csrf(type="hidden", value=csrfToken)
    h1#loading Loading...
    h3 CSS Viewer on #thiscouldbemobile
    a.btn.btn-primary(href="/and/awesome/" + id) Side-by-Side Comparison
    br
    h4 Make sure you have these inside the &lt;head&gt; tag:
    ul
      li &lt;meta charset="UTF-8"/&gt;
      li &lt;meta name="viewport" content="width=device-width, initial-scale=1"/&gt;
    br
    br
    textarea#code
    br
    button#save.btn.btn-success Save CSS Changes
    script(type="text/javascript", src="//code.jquery.com/jquery-1.12.0.min.js")
    script(type="text/javascript", src="/codemirror.js")
    script(type="text/javascript", src="/css.js")
    script(type="text/javascript") var id = '#{id}';
    script(type="text/javascript", src="/viewer.js")
