doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title This Could Be Mobile
    link(rel="stylesheet", type="text/css", href="/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/codemirror.css")
    style(type="text/css") @media (max-width: 800px) { .original { display: none; } .mobile { display: block !important; } }
  body
    .container
      .row
        .col-sm-12
          h3 #ThisCouldBeMobile
          ul
            li Plug in a URL; get fixes to make your site mobile-responsive
            li Add custom CSS to show how you'd fix someone's site
      .row
        .col-sm-12.col-md-6
          .well
            form(action="/want", method="POST")
              input(type="hidden", name="_csrf", value=csrfToken)
              .form-group
                label(for="url") Starter URL
                input.form-control(type="text", name="url", value="http://example.com")
              input.btn.btn-success(type="submit", value="Make It Mobile!")
      .row
        .col-sm-12
          h3 Here's an example:
      .row
        .col-sm-6
          h4 Original
          .original
            iframe(src="/sample.htm", height="600", width="360")
          .mobile.hidden
            a.btn.btn-primary(href="/mobile?id=1&url=http://thiscouldbemobile.com/sample.htm") See Original
            br
            br
        .col-sm-6
          a.btn.btn-success.pull-right.original(href="/cssviewer/1", style="margin-right: 80px;") See CSS
          h4 Mobilized
          .original
            iframe(src="/page?url=http://thiscouldbemobile.com/sample.htm&id=1", height="600", width="360")
          .mobile.hidden
            a.btn.btn-primary(href="/mobilefix?id=1&url=http://thiscouldbemobile.com/sample.htm") See Fixed
            br
            br
      .row
        .col-sm-2.col-sm-offset-4
          br
          br
          a.btn.btn-danger(href="https://github.com/mapmeld/this-could-be-mobile", target="_blank") Open Source on GitHub
          br
          br

    script(type="text/javascript", src="/codemirror.js")
    script(type="text/javascript", src="/css.js")
    script(type="text/javascript", src="/viewer.js")
