!doctype
html
  head
    meta(charset="utf-8")
    title This Could Be Mobile...
  body
    .container
      .row
        .col-sm-6
          iframe(src="//digitalprinciples.org")
        .col-sm-6
          iframe(src="/page?url=http://digitalprinciples.org&id=1")
