.banner {
  font-family: sans-serif;
  font-size: 14pt;
  position: fixed;
  background: orange;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}

.banner button {
  margin: 0 20px;
}

iframe {
  width: 100%;
  border: none;
  height: 90%;
  height: 90vh;
}
